           <div class="web-feat">
            <div id="game-vault">
                <a href="/games" class="web-feat-button">Game Vault</a>
            </div>
            <div id="Reviews">
                <a href="#" class="web-feat-button">Reviews</a>
            </div>
            <div id="Tips-Tricks">
                <a href="#" class="web-feat-button">Tips and Tricks</a>
            </div>
        </div>

        <footer>&copy; 2023 Arcade Game Vault. All rights reserved.</footer>
    </body>
</html>
