        <div class="web-feat">
            <div id="game-vault">
                <button class="web-feat-button">Game Vault</button>
            </div>
            <div id="Reviews">
                <button class="web-feat-button">Reviews</button>
            </div>
            <div id="Tips-Tricks">
                <button class="web-feat-button">Tips and Tricks</button>
            </div>
        </div>

        <footer>&copy; 2023 Arcade Game Vault. All rights reserved.</footer>
    </body>
</html>
