           <div class="web-feat">

            <a href="<% if(user) { %>/games<% } else { %>/login<% } %>" id="game-vault">
            <h2 class="web-feat-button">GAME VAULT</h2>
            </a>

            <a href="/reviews" id="Reviews">
            <h2 class="web-feat-button">REVIEWS</h2>
            </a>

            <a href="/tips-and-tricks" id="Tips-Tricks">
            <h2 class="web-feat-button">TIPS AND TRICKS</h2>
            </a>

        </div>

        <footer>&copy; 2023 Arcade Game Vault. All rights reserved.</footer>
    </body>
</html>
