<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
        <link rel="stylesheet" href="/style/style.css" />
        <script src="/js/script.js"></script>
    </head>
    <body class="page-background">
        <nav class="partial-nav">
            <div class="nav-logo">
                <img src="/images/Arcade-gaming-vault-logo.png" alt="Logo" />
            </div>
            <div class="links">
                <a href="/home">Home</a>
                <a href="/about">About</a>
                <% if(user) {%>
                <a href="/games">Vault</a>
                <% } %>
                <% if(user) { %>
                <a href="/home"
                    ><img
                        class="user-avatar"
                        src="<%= user.avatar %>"
                        alt="User avatar"
                /></a>
                <% } else { %>
                <a href="/login">Login</a>
                <% } %>
            </div>

            <div class="burger-menu">&#9776;</div>
        </nav>
        <div class="dropdown-menu">
            <a href="/home">Home</a>
            <a href="/about">About</a>
             <% if(user) {%>
                <a href="/games">Vault</a>
                <% } %>
            <% if(user) { %>
            <a href="/home"
                ><img
                    class="user-avatar"
                    src="<%= user.avatar %>"
                    alt="User avatar"
            /></a>
            <% } else { %>
            <a href="/login">Login</a>
            <% } %>
        </div>
