/* || Imports */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* || General styles */

* {
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------------------------------------------------- */

/* || Init index logo styles */

.body-logo {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

.logo {
    position: absolute;
    width: 700px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards 0.5s;
}

.logo img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
}

@keyframes flicker1 {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes flicker2 {
    0%,
    100% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
}

@keyframes flicker3 {
    0%,
    100% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
}

@keyframes flicker4 {
    0%,
    100% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
}

@keyframes flicker5 {
    0%,
    100% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.img1 {
    z-index: 1;
    animation: flicker1 0.5s 3 alternate 0.3s;
}

.img2 {
    z-index: 2;
    animation: flicker2 0.5s 3 alternate 0.3s;
}

.img3 {
    z-index: 3;
    animation: flicker3 0.4s 3 alternate 0.5s;
}

.img4 {
    z-index: 4;
    animation: flicker4 0.5s 3 alternate 0.5s;
}

.img5 {
    z-index: 5;
    animation: flicker5 0.5s 3 alternate 0.5s;
}

/* ---------------------------------------------------------------------------------------------- */

/* Reset and Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

html,
body,
h1,
p,
ul {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    width: 100%;
}
.page-background {
    background: url(../images/Generate_a_darkthemed_sophisticated_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}
body {
    background-color: #000;
    font-family: 'Orbitron', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: end;
    align-items: center;
    color: #fff;
    padding: 5px 20px;
    height: 60px;
    position: relative;
}

nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#474747, transparent);
    z-index: -1;
    transition: 0.2s ease;
}

.Logo {
    width: 80%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.Logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.user-avatar {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.links {
    display: flex;
    align-items: center;
}

.links a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.3s;
}

.links a:hover {
    background-color: #fff;
    color: #000;
}

.burger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: #333;
    width: 100px;
    right: 2px;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-menu a {
    color: #000;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-menu a:hover {
    background-color: #fff;
    color: #000;
}

/* Header Styles */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    color: white;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 150px;
}
.login-button a {
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    background-color: #323333;
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-button a:hover {
    background-color: #787879;
}

/* Web Feature Styles */
.web-feat {
    height: 350px;
    margin-top: 500px;
    display: flex;
}

#game-vault,
#Reviews,
#Tips-Tricks {
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 300px;
    max-width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background-position: center;
}

#game-vault:hover,
#Reviews:hover,
#Tips-Tricks:hover {
    transform: scale(1.03);
}

#game-vault::before,
#Reviews::before,
#Tips-Tricks::before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        transparent,
        transparent,
        rgba(0, 0, 0, 0.5)
    );
    pointer-events: none;
    z-index: 1;
    border-radius: 10px;
}

#game-vault {
    background-image: url(../images/Gamer-Vault.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#Reviews {
    background-image: url(../images/Game-reviews2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#Tips-Tricks {
    background-image: url(../images/Gamer-tips.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.web-feat-button {
    font-family: 'Orbitron', 'Arial', sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4a4a4a;
    border: 3px solid rgb(255, 255, 255);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    margin-top: 250px;
    height: 30px;
    width: auto;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.web-feat-button:hover {
    background-color: #555;
}

/* Footer Styles */
footer {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: auto;
}

/* ---------------------------------------------------------------------------------------------- */
/* Style the game library  */

.game-tile:nth-child(even) {
    background-color: rgb(0, 0, 0);
}

.game-tile:nth-child(odd) {
    background-color: #000000;
}

.game-tile {
    padding: 10px;

    margin: 5px;
}

.game-library {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#new-game {
    display: inline-flex;
    padding: 8px 16px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
}
#new-game:hover {
    background-color: #45a049;
    color: #fff;
}

#new-game {
    display: inline-flex;
    padding: 12px 24px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: #474747;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 20px;
}

#new-game:hover {
    background-color: #858585;
    color: #fff;
}

/* Center the "New game" button horizontally */
.new-game {
    display: flex;
    justify-content: center;
}
.search-bar {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-bar input {
    flex: 1;
    margin-right: 5px;
}

.search-button {
    background-color: #363636;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.search-button:hover {
    background-color: #838483;
}

/* ---------------------------------------------------------------------------------------------- */

/* || Form submition style */

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

label {
    margin-top: 10px;
    color: #fff;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.submit-buttons {
    cursor: pointer;
    background-color: #3a3a3a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.submit-buttons:hover {
    background-color: #7f7f7f;
}

/* ---------------------------------------------------------------------------------------------- */
/* Game tiles */
.game-tile {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 10px;
    border-radius: 10px;
    padding: 0;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.game-tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.game-tile:hover img {
    transform: scale(1.1);
}

.game-tile .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.game-tile:hover .details {
    opacity: 1;
}

.game-tile h3,
.game-tile p {
    margin: 5px;
}

/* ---------------------------------------------------------------------------------------------- */

/* || Action buttons */
.edit-button {
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    text-decoration: none;
    background-color: #454545;
    color: white;
    border: 1px solid #4caf50;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #6d6e6d;
}

.delete-form {
    display: inline-block;
    padding: 0 0;
    margin: 0;
}

.delete-button {
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    text-decoration: none;
    background-color: #454545;
    color: white;
    border: 1px solid #e00404;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #6d6e6d;
}

.delete-form-review {
    display: inline-block;
    padding: 0 0;
    margin: 0;
    margin-top: 20px;
}

.edit-form-review {
    display: inline-block;
    padding: 0 0;
    margin: 0;
    margin-top: 20px;
}

.review-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    font-size: 14px;
    text-decoration: none;
    background-color: #454545;
    color: white;
    border: 1px solid rgb(223, 250, 18);
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.review-button:hover {
    background-color: #6d6e6d;
}
/* ---------------------------------------------------------------------------------------------- */

.about-paragraph {
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
    margin: 20px auto;
    max-width: 800px;
}
/* ---------------------------------------------------------------------------------------------- */

/* Login Table Styles */
.login-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    height: auto;
    padding: 5vw;
    max-width: 500px;
    background-color: #000000a5;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.googleLogin,
.discordLogin {
    width: 150px;
    height: 50px;
    margin: 10px;
    background-color: #4285f4;
    text-decoration: none;
}

.googleLogin {
    background-color: #639bf4;
}

.discordLogin {
    background-color: #7289da;
}

.googleLogin,
.discordLogin {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    transition: background-color 0.3s ease;
}

.googleLogin:hover,
.discordLogin:hover {
    background-color: #2a4b8d;
}

.googleLoginImg {
    height: 30px;
}
.discordLoginImg {
    height: 30px;
}
/* ---------------------------------------------------------------------------------------------- */

/* || reviews style  */
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviews {
    margin-top: 20px;
    max-height: 1000px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for each review tile */
.reviews ul {
    list-style-type: none;
    padding: 0;
}

.reviews li {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.59);
    border: 1px solid #ddd;
    min-width: 300px;
    max-width: 800px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
    border-radius: 10px;
    flex-shrink: 0;
}
.reviews li strong {
    font-weight: bold;
}

.review-user {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Style for timestamp */
.review-timestamp {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: #888;
}

/* Style for the review content */
.review-content {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-left: 40px;
}

/* Style for the rating */
.avatar-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px;
}

/* ---------------------------------------------------------------------------------------------- */

/* || Game Details Styles */
.game-details {
    max-width: 600px;
    margin: 0 auto;
    background-color: #1a1a1acb;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    text-align: center;
}

.game-details h1 {
    font-size: 36px;
    margin-bottom: 15px;
    color: #fff;
}

.game-image {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.game-details p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ddd;
}
/* ---------------------------------------------------------------------------------------------- */
/* || Review form*/
.add-review {
    margin: 20px;
}

.review-form {
    text-align: left;
}

.review-form label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.review-form textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 6px;
    background-color: #333;
    color: #fff;
    font-size: 1em;
}

.review-form input {
    width: 75px;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 6px;
    background-color: #333;
    color: #fff;
    font-size: 1em;
}

.review-form button {
    background-color: #353535;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.review-form button:hover {
    background-color: #686868;
}
.rating-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-stars {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

.rating-stars input {
    display: none;
}

.rating-stars label {
    font-size: 30px;
    cursor: pointer;
    color: #fbfbfb;
    margin: 10px;
}

.rating-stars label:hover,
.rating-stars input:checked ~ label {
    color: #fcd203;
}
/* ---------------------------------------------------------------------------------------------- */
/* Responsive Styles  */
@media screen and (max-width: 500px) {
    html,
    body {
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    body {
        background-size: cover;
    }
    body.page-background {
        background-color: #000000;
    }
    nav {
        padding: 5px 10px;
    }

    .Logo img {
        max-width: 120px;
    }

    .links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
    }

    .links a {
        margin: 0;
    }

    .burger-menu {
        display: block;
    }

    .burger-menu.active + .links {
        display: flex;
    }

    .dropdown-menu {
        top: 60px;
        right: 0;
        width: 100%;
    }

    .web-feat {
        flex-direction: column;
        margin-top: 20px;
    }

    #game-vault,
    #Reviews,
    #Tips-Tricks {
        width: 100%;
        margin: 10px 0;
    }

    .web-feat-button {
        margin-top: 10px;
    }
}

@media screen and (min-width: 321px) and (max-width: 650px) {
    body.page-background {
        background-color: #000000;
    }
    .links {
        display: none;
    }

    .burger-menu {
        display: block;
        justify-content: end;
    }

    .burger-menu.active + .dropdown-menu,
    .dropdown-menu.active {
        display: flex;
        justify-content: end;
    }

    #game-vault,
    #Reviews,
    #Tips-Tricks {
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
    }
}

@media screen and (min-width: 321px) and (max-width: 400px) {
    body {
        font-size: 14px;
    }

    header {
        height: 120px;
    }
}
