<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Arcade Game Vault</title>
        <link rel="stylesheet" href="style/style.css" />
        <script src="js/script.js"></script>
    </head>
    <body class="body-logo">
        <div class="logo">
            <img class="img1" src="images/Arcade border.png" alt="" />
            <img class="img2" src="images/Arcade controller.png" alt="" />
            <img class="img3" src="images/Arcade game.png" alt="" />
            <img class="img4" src="images/Arcade vault.png" alt="" />
            <img class="img5" src="images/Arcade.png" alt="" />
        </div>
    </body>
</html>
<script>
    setTimeout(function () {
        window.location.href = '/home';
    }, 3000);
</script>
