<%- include('../partials/header') %>
<body>
    <h1>NEW GAME</h1>

   <form action="/games/new" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" />

    <label for="genre">Genre:</label>
    <select id="genre" name="genre" >
        <option value="fps">First Person Shooters (FPS Games)</option>
        <option value="rpg">Role Playing Games (RPG Games)</option>
        <option value="adventure">Adventure</option>
        <option value="simulation">Simulation</option>
        <option value="strategy">Strategy</option>
        <option value="sports">Sports & Fitness</option>
        <option value="fighting">Fighting</option>
        <option value="platformers">Platformers</option>
        <option value="survival_horror">Survival & Horror</option>
        <option value="stealth">Stealth</option>
        <option value="interactive_movie">Interactive Movie</option>
        <option value="puzzlers_party">Puzzlers & Party Games</option>
        <option value="social_deduction">Social Deduction</option>
        <option value="educational">Educational</option>
        <option value="augmented_reality">Augmented Reality</option>
    </select>

    <label for="platform">Platform:</label>
    <select id="platform" name="platform">
        <option value="PC">PC</option>
        <option value="PlayStation">PlayStation</option>
        <option value="Xbox">Xbox</option>
        <option value="Nintendo Switch">Nintendo Switch</option>
        <option value="Mobile">Mobile</option>
        <option value="Virtual Reality">Virtual Reality</option>
    </select>

    <label for="releaseYear">Release Year:</label>
    <input type="date" id="releaseYear" name="releaseYear" required />

    <label for="image">Image URL:
        <p class="image-search-help">Please enter a valid image URL ending with .jpg</p>
    </label>
    <input type="text" id="image" name="image"  pattern=".*(?:videogame|game).*\.jpg$" title="Please enter a valid JPG image URL (ends with .jpg)"/>

    <button class="submit-buttons" type="submit">Submit New Game</button>
</form>

</body>
<%- include('../partials/footer') %>
